[submodule "itom"]
	path = itom
	url = ../itom.git
	branch = master
[submodule "designerplugins"]
	path = designerplugins
	url = ../designerPlugins.git
	branch = master
[submodule "plugins"]
	path = plugins
	url = ../plugins.git
	branch = master
