[submodule "itom"]
	path = itom
	url = https://bitbucket.org/itom/itom
[submodule "plugins"]
	path = plugins
	url = https://bitbucket.org/itom/plugins
[submodule "designerplugins"]
	path = designerplugins
	url = https://bitbucket.org/itom/designerplugins
